/* navbar */





/* header */

.header {
    display: flex;
    align-items: center;
    height: 100vh;
}

.titre {
    text-align: center;
}

.logo {
    width: 75px;
    height: 75px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.blocun {
    height: 100%;
    width: 70%;
}

.blocun img {
    width: 100%;
    height: 100%;
}

.blocdeux {
    height: 100%;
    width: 30%;
    background-color: red;
}

.blocdeux img {
    width: 100%;
    height: 100%;
}

/* instagram */





/* contact */





/* footer */