/* @font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'), url(https://fonts.gstatic.com/s/oldstandardtt/v12/MwQubh3o1vLImiwAVvYawgcf2eVeqlq4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Old Standard TT';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Old Standard TT Italic'), local('OldStandardTT-Italic'), url(https://fonts.gstatic.com/s/oldstandardtt/v12/MwQsbh3o1vLImiwAVvYawgcf2eVer2q6bHM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */

/* navbar */





/* header */

.header {
    display: flex;
    position: relative;
    /* align-items: center; */
    height: 100vh;
}

.headertrois {
    display: inline-flex;
}

.titre {
    text-align: center;
}

.taillelogo {
    width: 18%;
    height: 21%;
    position: absolute;
    right: 21%;
    bottom: 47%;
}

.logo img {
    height: 100%;
    width: 100%;
}

.blocun {
    height: 100%;
    width: 70%;
}

.blocun img {
    width: 100%;
    height: 100%;
}

.blocdeux {
    /* position: relative; */
    height: 100%;
    width: 30%;
    /* background-color: red; */
}

.blocdeux p {
    bottom: 30%;
    position: absolute;
    right: 0%;
    left: 78%;
    color: #696969;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-display: swap;
    font-size: 25px;
}

.blocdeux img {
    width: 15%;
    height: 15%;
}

/* instagram */





/* pied de page */

.pdpcol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    font-family: 'EB Garamond', serif;
    /* background-color: red; */
}

.divpdp {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 50%;
    width: 90%;
}



.pdpcolun {
    display: flex;
    justify-content: space-evenly;
    /* background-color: lightblue; */
    width: 100%;
    flex-direction: column;
}

.pdpcolun p {
    text-align: center;
    margin: 0;
}

.divinput {
    display: flex;
    justify-content: center;
}

.divinput button {
    border: none;
    height: 86%;
}

.pdpcoldeux {
    /* background-color: grey; */
    width: 100%;
    border-left: 1px solid;
    border-right: 1px solid;
}

.pdpcoldeux p {
    padding: 8px;
    text-align: center;
}

.pdpcoltrois {
    /* background-color: pink; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pdpcoltrois p {
    margin: 0;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}


/* footer */