body {
  width:100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .Navbar{
    /* background: goldenrod; */
  }
  .navbar-brand{
    margin-top: 8vh;
    /* background: red; */
    position: absolute;
    left: 5rem;
    margin-top: 0.1rem;
  }
  
  ul{
    display: flex;
    list-style-type: none;
    margin-left: 100vh;
    margin-top: 8vh;
    margin-bottom: 6rem;
    padding: 0.8rem;
  }
  
  li{
    font-family: 'EB Garamond', serif;
    font-size: 19.4px;
    margin:0.5rem;
  }
  a{
    text-decoration: none;
  }
 
  h3{
    /* font-family: 'Old Standard TT'; */
    font-family: 'EB Garamond', serif;
    /* font-style: italic; */
    font-weight: 400;
    font-size: 20.4px;
  }
  h1{
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-weight: 400;
  }