body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h2{
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  font-family: 'Old Standard TT', serif;
  font-size: 1.275em;
  }


  /* *******************CSS COMMUN***************** */

/* dimensions du component */
.component {
  height: 90vh;
  width: 100%;
  display: flex;
  /* background-color: red; */
}

/* dimensions du component en full height 100vh */
 .component-full-height {
  height: 100vh;
  width: 100%;
  display: flex;
  /* background-color: red; */
}

/* dimensions du conteneur dans le component */
.component-conteneur {
  display: flex;
  height: 90%;
  width: 80%; 
}

/* centrer une box dans une autre  */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* conteneur de colonnes */
.cols {
  display: flex;
  height: 100%;
  width: 100%;
  height: 100%;
}

/* créér un espace entre les box/colonnes */
.cols-space {
  justify-content: space-between;
}

/* dimensions de 2 box/colonnes séparées par un espace */
.deux-cols-space {
  height: 100%;
  width: 47%;
}

/* dimensions de 3 box/colonnes séparées par un espace */
.trois-cols-space {
  height: 100%;
  width: 30%;
}

/* dimensions de 2 box/colonnes non séparées par un espace */
.deux-cols {
  height: 100%;
  width: 50%;
}

/* dimensions de 3 box/colonnes non séparées par un espace */
.trois-cols {
  height: 100%;
  width: 33%;
  margin: 0;
}

/* adapter la taille d'une image à son conteneur */
.deux-cols-space-img {
  width: 100%;
  height: 100%;
}

/* aligner en colonne */
.col-text {
  display: flex;
  flex-direction: column;
}

/* dimensions titre */
.col-text-section {
  height: 10%;
  width: 100%;
}

/* dimensions sous-titre + pavé texte */
.col-text-pavtext{
  height: 30%;
  width: 100%;
  justify-content: space-evenly;
  text-align: justify;
}

/* dimensions des petites colonnes dans les components */
.col-text-tableau {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* dimensions de l'onglet "découvrir l'équipe" */
.col-text-onglet {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* gérer un contenu image et texte  */
.col-text-content {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: space-between;
}

/* gérer image + titre + texte, dans le cas EQUIPE et ACTUALITE  */
.col-text-itt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* dimensions de l'image dans .col-text-itt */
.col-text-itt img{
  height: 34vh;
  margin-bottom: 10px;
  width: 90%;
}

/* gérer le titre sous l'image  */
.col-text-itt h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 0.95em;
}

/* gérer le paragraphe sous le titre  */
.col-text-itt p {
  width: 90%;
  color: #C4C4C4;
  font-family: 'EB Garamond', serif;
  text-align: justify;
  margin-top: 0;
  font-size: 1.275em;
}

/* ajouter une border sur le côté droit, dans le cas de 2 box/colonnes */
.add-border-right {
  border-right: 1px solid;
  }

/* ajouter une border côté droit et gache, dans le cas de 3 box/colonnes */
.add-border-lr {
  border-right: 1px solid;
  border-left: 1px solid;
  }

.quote {
  height: 30%;
  width: 100%;
}

.quote h1 {
  font-size: 3em;
}

.instagram {
  height: 30%;
  width: 100%;
}

.width80 {
  width: 80%;
}

.height90 {
  height: 90%;
}

.padding {
  padding: 7px;
}

.justify {
  text-align: justify;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
  
/*--------------- header ----------------*/

  .header {
      display: flex;
      position: relative;
      /* align-items: center; */
      height: 100vh;
      width: 100%;
  }

  .headertrois {
      display: inline-flex;
  }

  .titre {
      text-align: center;
  }

  .taillelogo {
      width: 18%;
      height: 21%;
      position: absolute;
      right: 21%;
      bottom: 47%;
  }

  .logo img {
      height: 100%;
      width: 100%;
  }

  .blocun {
      height: 100%;
      width: 70%;
  }

  .blocun img {
      width: 100%;
      height: 100%;
  }

  .blocdeux {
      /* position: relative; */
      height: 100%;
      width: 30%;
      /* background-color: red; */
  }

  .blocdeux p {
      bottom: 30%;
      position: absolute;
      right: 0%;
      left: 78%;
      color: #696969;
      font-family: 'Bree Serif', serif;
      font-weight: 400;
      font-display: swap;
      font-size: 25px;
  }

  .blocdeux img {
      width: 15%;
      height: 15%;
  }

/*--------------- actualité----------------*/

/*--------------- instagram ----------------*/

.instagramContainer {
  width: 100%;
}

.instagramFeed {
  height: 100%;
  width: 100%;
}

.lightwidget-widget {
  width:100%;
  border:0;
  overflow:hidden;
  display: flex;
}

.lightwidget--image-format-square .lightwidget__image {

  -o-object-fit: cover;
  object-fit: cover;
 
  position: absolute;
  width: 100%;
  height: 100%;
}

.lightwidget--image-format-square .lightwidget__image-wrapper {
  height: 89vh;
  /* position: relative; */
  width: 100%;
}

/*--------------- pied de page ----------------*/

.pdp {
  height: 60vh;
}

.component-pdp {
  display: flex;
  justify-content: center;
  height: 15%;
  width: 100%;
  font-family: 'EB Garamond', serif;
  /* background-color: red; */
}

.divpdp {
  display: flex;  
  height: 50%;
  width: 80%;
}

.divinput {
  display: flex;
  justify-content: center;
}

.divinput button {
  border: none;
  height: 86%;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}


/*--------------- Footer ----------------*/

#dims-footer {
  height: 100%;
  justify-content: space-between;
}

.footer-kimia {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  /* background: goldenrod; */
  border-top: 1px solid #696969;
}

/*-------------- Cantine ----------------*/
#col-text-pavtext-cantine {
  height: 45%;
}

#col-text-tableau {
  height: 35%;
}

#col-text-onglet {
  height: 10%;
}



/* ***************Navbar************** */

.Navbar {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
}

.main-header {

width: 100%;
display: flex;
justify-content: center;
height: 100%;
}

.header-nav {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
}


.navbar-brand{
width: 10%;
margin-top: 0.1rem;
}

ul{
display: flex;
justify-content: flex-end;
list-style-type: none;
width: 90%;
}

li{

font-family: 'EB Garamond', serif;
font-size: 19.4px;
padding: 0.5rem;
}

a{
text-decoration: none;
color: grey;
}

h3{
/* font-family: 'Old Standard TT'; */
font-family: 'EB Garamond', serif;
/* font-style: italic; */
font-weight: bold;
font-size: 20.4px;
}
h1 {
font-family: 'EB Garamond', serif;
text-align: center;
font-weight: 400;
}

/*-------------- Equipe ----------------*/

#col-team-kimia {
height: 100%;
width: 35%;
display: flex;
flex-direction: column;
align-items: center;
text-align: justify;

}

#col-team-kimia img {
  height: 38vh;
  width: 100%;
  margin-bottom: 10px;
}

#col-team-kimia-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

#col-team-kimia-2 img {
  height: 38vh;
  width: 100%;
  margin-bottom: 10px;
}

#col-team-kimia-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

#col-team-kimia-3 img {
  height: 38vh;
  width: 100%;
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 0;
}


/*-------------- Contact ----------------*/

#cols-kimia-contact {
  height: 85%;
}

.contact-form-kimia {
  display: flex;
  height: 100%;
  width: 100%;
}

.contact-form-kimia form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 80%;
}

#submit-contact {

  height: 28%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#submit-border {
  border: 1px solid #C4C4C4;
  height: 30%;
  width: 35%;

}
#submit-button {
  background-color: white;
  border: none;
  height: 100%;
  width: 100%;
}


.contact-adresse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-adresse p {
  font-family: 'EB Garamond', serif;
  font-size: 0,95em;
  text-align: center;
  margin: 0;
  width: 80%;
 
}

#adresse-2 {
  margin-bottom: 5%;
}

.adresse-map{
  height: 60%;
  width: 60%;
}

.adresse-map img {
  width: 100%;
  height: 100%;
}
.contact-horaire{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-horaire p {
  font-family: 'EB Garamond', serif;
  font-size: 0,95em;
  margin: 0;
}

.horaire-content-1 , .horaire-content-2 {
  font-weight: bold;
  margin: 5px;
}


.contact-recrutement{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recrutement-content {
  margin: 0;
  text-align: center;
  width: 55%;
}





/******************** Epicerie ***************************/

.item{
/* background: pink; */
width: 8vw;
height: 100%;
text-align: center;
border: 0.15em white solid;
margin:0.1rem;
display: flex;
justify-content: center;

}

#dims-bloc-titre {
  height: 5%;
}

#dims-bloc-titre h1 {
  margin-bottom: 0;
}


#dims-bloc-texte {
  height: 25%;
}

#dims-bloc-texte h2 p {
  margin: 0;
}

#dims-wrapper {
  height: 60%;
}

.wrapper{
display: flex;
justify-content: space-between;
height: 50%;
width: 100%;
margin: 0;
}

h5{
margin-bottom: auto;
border: 1px white solid;
padding: 0.4rem;
border-bottom-width: thick;
border-radius: 12%;
background: gray
}

.cart-content{
display: flex;
height: 45%;
width: 100%;

}

figcaption {
height: 23px;
display: flex;
align-items: center;
color: white;
z-index: 2;
position: absolute;
font-size: 0.9em;
background: gray;
border-radius: 12%;
padding: 0;
}

.col-img-ep {
  height: 100%;
  width: 40%;
}

.col-text-ep {
  height: 80%;
  width: 50%;
}

#dims-col-ep {
  height: 100%;
}

.vignette-row-un {
  bottom: 36%;
}

.vignette-row-deux {
  bottom: 14%;
}


/* ********************************* Enfant ******************************************/

.pic-img-dims{

    /* min-inline-size: -webkit-fill-available; */
    width: 100%;
    height: 90%;
}

#margin-h2 {
  margin-bottom: 0;
}

#no-mg-top {
  margin-top: 0;
}