
.bloc-content{
    width: 100%;
    display:flex;
    margin: 0 auto;
}

.wrap-bloc{
    font-family: 'EB Garamond', serif;
    /* font-size: 1.275em; */
    font-size: 0.95em;
    display: flex;
    flex-direction: column;
    /* width: 43vw; */
}

.bloc_1{
    width:83%;
    padding: 2rem;
    text-align: justify;
    margin: 0 auto;
}

.bloc_2{
    display: flex;
    /* width: 44vw; */
}
.bloc_3{
   
   height: 90%;
}

.text-content p{
    text-align: justify;
    border-right: 0.05rem black solid;
    padding: 0.9rem;
}
h2{
    text-align: center;
    text-transform: capitalize;
    /* font-family: 'EB Garamond', serif; */
    font-weight: 400;
    font-family: 'Old Standard TT', serif;
    /* color: #C4C4C4; */
    font-size: 1.275em;
}

.item3 p{
    border-style: none;
} 

.pic-img, img{
    
        /* min-inline-size: -webkit-fill-available; */
        width: 100%;
        height: 100%;
}
.event{
    text-align: center;
}



/* ************************ Enfant ***************************** */

.bloc-container{
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}




/* ************************ Epicerie ***************************** */


.component{
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    background: goldenrod;
    width: 80%;
    /* height: 100%; */
    margin: 0 auto;
}

.item{

    background: pink;
    width: 8vw;
    height: 20vh;
    text-align: center;
    border: 0.15em solid;
    margin:0.1rem;
}

.img-content{
    width: 40vw;
    /* height: 78vh; */
    background: purple;
}
.title-bloc{
   
    background-color: blue;
    width: 80%;
    /* height: 24vh; */
    margin: 0 auto;

}
.item article{
    background: brown;
    width: 2vw;
    height: 3vh;
}

.cart-bloc{
    background: grey;
    /* display: flex; */
    width: -webkit-fill-available;
}

.epicerie-bloc{
    display: flex;
    flex-direction: column;
    background: orangered;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 88%;
    justify-content: space-evenly;
    margin: 0 auto;
}
h5{
    align-items: baseline;
}
.cart-content{
    display: flex;

}