/* l'équipe */
.kimiaTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
 }
 
 .titleTeam{
     font-size: 1.2em;
     font-family: 'Old Standard TT', serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 10vh;
 }
 
 
 .teamContent{
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
     width: 90%;
     height: 100%;
 
 }
 
 .teamArticle{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 5px;
     height: 90%;
     width: 29%;
 }
 
 .teamDescription {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: justify;
     width: 77%;
 }
 
 .teamDescription p {
     font-family: 'EB Garamond', serif;  
     font-size: 1.050em;
     margin-top: 15px;
     object-fit: contain;
 }
 
 .teamArticle img {
     height: 40%;
     width: 74%;
 }
 
 .teamFooter{
 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
 }
 
 .teamFooter h3 {
     font-family: 'Old Standard TT', serif;
     font-size: 1.275em;
     font-weight: 400;
 }
 